.navbar {
	border-radius: 0;
	background-color: #000;
	margin-bottom: 0;
	padding: 0;
}

ol, ul {
	padding-left: 25px;
}

.navbar-brand {
	height: 60px;
}

.columnWrapper:hover .itemCell {
	border-top-color: #52b5e0;
	border-left-color: #52b5e0;
	border-right-color: #52b5e0;
}

.columnWrapper:hover  .row6 {
	border-bottom-color: #52b5e0;
}

.editorPick .itemCell {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.editorPick  .row6 {
	border-bottom-color: #e4d38d;
}

.editorPick:hover .itemCell {
	border-top-color: #e4d38d;
	border-left-color: #e4d38d;
	border-right-color: #e4d38d;
}

.editorPick:hover  .row6 {
	border-bottom-color: transparent;
}

.columnWrapper {
	padding-left: 0;
	padding-right: 0;
	margin-right: 15px;
}

.itemCell {
	padding: 10px 5px 20px 5px;
	border: 1px solid #d8d7d9;
}

.bestValue .row0 {
	background-color: #52b5e0;
	text-align: center;
	font-weight: bold;
}

.bestValue .row2, .bestValue .row3, .bestValue .row4, .bestValue .row5 {
	background-color: #c9e8f6;
	border-bottom-color: #BABABA;
	position: relative;
}

.bestValue .row5 {
	border-bottom: none;
}

.row1, .row2, row3 {
	cursor: pointer;
}

.bestValue .row5:after {
	z-index: -1;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 10px #c9e8f6;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.bestValue .row0:after {
	content: "Best Value";
}

.editorPick .row0 {
	background-color: #7D7D7D;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.editorPick .row2, .editorPick .row3, .editorPick .row4, .editorPick .row5
	{
	background-color: #d8d7d9;
	border-bottom-color: #BABABA;
	position: relative;
}

.editorPick .row5 {
	border-bottom: none;
}

.editorPick .row5:after {
	z-index: -1;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 10px #d8d7d9;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.editorPick .row0:after {
	content: "Editor Pick";
}

.editorPick {
	border: 3px solid #e4d38d;
}

.editorPick div.row1 {
	height: 219px;
	padding-top: 7px;
}

.editorPick div.row6 {
	height: 177px;
}

.row0 {
	height: 22px;
}

.row1 {
	height: 222px;
	border-bottom: 3px solid #4c4c4c;
}

.row1 .title {
	font-size: 15px;
	font-weight: bold;
	color: #4c4c4c;
}

.row1 .subtitle {
	font-size: 13px;
	color: #4c4c4c;
}

.row1 a span {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	color: #3A589D;
	line-height: 12px;
}

.row1 .imgWrapper {
	height: 125px;
}

.row1 img {
	max-width: 110px;
	max-height: 125px;
}

.row2, .row3 {
	height: 50px;
	border-top: none;
}

.row2 .title, .row3 .title {
	font-size: 17px;
	font-weight: bold;
	color: #4c4c4c;
	margin: 0;
	line-height: 1;
}

.row2 .subtitle, .row3 .subtitle {
	font-size: 11px;
	color: #4c4c4c;
}

.row4, .row5 {
	height: 115px;
	border-top: none;
}

.row4 li, .row5 li {
	font-size: 22px;
	line-height: 15px;
	margin-bottom: 0;
}

.row4 li span, .row5 li span {
	font-size: 13px;
}

.row6 {
	height: 180px;
	border-top: none;
	padding-top: 20px;
}

.row6 .deal_name, .row6 .deal_price {
	padding: 0;
}

.row6 a {
	color: #52b5e0;
	font-size: 13px;
}

.row6 span {
	font-weight: bold;
}

.row6 a.deal_name:after {
	content: ".....................";
	color: #4c4c4c;
}

.row6 a.deal_name:after:hover {
	color: #4c4c4c;
	text-decoration: none;
	cursor: normal;
}

.bestDealBtn {
	margin-bottom: 20px;
}

.bestDealBtn img {
	width: 100%;
}

.bestDealBtn:hover {
	opacity: 0.7;
}

.bestPrice {
	font-size: 17px;
	color: #000;
}

.descriptions {
	color: #52b5e0;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}

.descriptions .row1 {
	height: 221px;
}

.descriptions>div {
	border: 1px solid #d8d7d9;
	border-bottom: none;
	text-align: center;
	padding-top: 10px;
	line-height: 1;
}

.descriptions>.row0 {
	border: none;
}

.descriptions>div:last-child {
	border: 1px solid #d8d7d9;
}

.descriptions .subtitle {
	font-size: 11px;
	color: #52b5e0;
}

/*photo slider*/
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}

.columnsContainer {
	margin-bottom: 60px;
}

/*Notes*/
.note .header {
	height: 38px;
	color: #fff;
	padding-left: 40px;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.note .noteTitle {
	height: 32px;
}

.note .title {
	font-size: 25px;
	font-weight: bold;
}

.note .subtitle {
	font-size: 13px;
}

.note .stars {
	height: 100%;
	display: table;
	width: 60px;
}

.note .star {
	display: table-cell;
	background-image: url(../images/stars.png);
	background-repeat: no-repeat;
}

.note .fullStar {
	background-position: -1px bottom;
}

.note .halfStar {
	background-position: -15px bottom;
}

.note .emptyStar {
	background-position: -30px bottom;
}

.note .bodyNote {
	font-size: 13px;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 20px;
}

.note .review .title {
	font-size: 13px;
	font-weight: bold;
}

.note .review {
	padding-left: 50px;
}

.note .review>div {
	padding: 0;
}

.note .review i {
	color: gray;
	font-size: 18px;
	padding-right: 7px;
}

.note .review ul {
	list-style: none;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #d8d7d9;
}

.note .review ul li {
	border-top: 1px solid #d8d7d9;
	padding-top: 3px;
	padding-bottom: 3px;
}

.note .review ul li span {
	padding-left: 20px;
	font-size: 13px;
}

.bestValueNote .header {
	background-color: #52b5e0;
}

.bestValueNote .header:after {
	content: "Best Value";
}

.editorPickNote .header {
	background-color: #89898B;
}

.editorPickNote .header:after {
	content: "Editor Pick";
}

.noteWrapper {
	display: table;
}

.noteWrapper>div {
	display: table-cell;
}

/*fix height gallery*/
.carousel-inner .active, .carousel-inner .next.left, .carousel-inner .prev.right
	{
	height: 100%;
}

.carousel-inner .item img {
	max-width: 100%;
	width: auto;
	height: 100%;
	margin: auto;
}

.thumbnail img {
	max-height: 100%;
}

.bestOffer {
	height: 100px;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
}


.bestOffer .title:after {
	font-size: 13px;
}
.editorPickNote .bestOffer .title:after {
	content: "Editor Pick - Best Price";
}
.bestValueNote .bestOffer .title:after {
	content: "Best Value";
}
.bestOffer .prodBtn {
	
}
.bestOffer .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}