<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="js/script.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link href="css/T1_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<body ng-app="TenBestApp">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand " href="#">Best baby strollers <b>|
						2016</b></a>
			</div>
			<div class="navbar-header pull-right">
				<a class="navbar-brand " href="#"><img
					src="images/BR-LOGO-top.png"></img></a>
			</div>

		</div>
	</nav>
	<div class="container" ng-controller="template1Controller">
		<div class="col-sm-12 text-right">Last viewed: {{lastViewed |
			date:'dd-MM-yyyy'}}</div>
		<div class="row columnsContainer col-sm-12">
			<div class="">
				<div class="col-sm-1 descriptions">
					<div class="row0"></div>
					<div class="row1">Brand/ product</div>

					<div class="row2">Weight</div>

					<div class="row3">
						Size
						<p class="subtitle">(H/W/D/cm)</p>
					</div>

					<div class="row4">The Good</div>

					<div class="row5">The Bad</div>

					<div class="row6">Best deal</div>
				</div>
				<div ng-repeat="item in items" class="col-sm-2 columnWrapper"
					ng-class="{'bestValue':item.bestValue, 'editorPick':item.editorPick}">
					<div class="row0"></div>
					<div ng-click="sendTo(item.best_deal.lnk)">
						<div class="itemCell row1 text-center">
							<div class="title">{{item.title}}</div>
							<div class="subtitle">{{item.subtitle}}</div>
							<div class="imgWrapper col-sm-12">
								<img src={{item.img}}>
							</div>

							<a class="link" href={{item.best_deal.lnk}} target="_blank"><span>See
									it now</span> <br> <span>on {{item.best_deal.name}}</span> </a>
						</div>

						<div class="itemCell row2 text-center">
							<p class="title">{{item.weight}}</p>
							<p class="subtitle">{{item.weight_unit}}</p>
						</div>

						<div class="itemCell row3 text-center">
							<p class="title">{{item.size}}</p>
							<p class="subtitle">{{item.size_unit}}</p>
						</div>

						<div class="itemCell row4">
							<ul>
								<li ng-repeat="good in item.the_good"><span>{{good}}</span></li>
							</ul>
						</div>

						<div class="itemCell row5">
							<ul>
								<li ng-repeat="bad in item.the_bad"><span>{{bad}}</span></li>
							</ul>
						</div>
					</div>
					<div class="itemCell row6">
						<div class="col-sm-12">
							<img src={{item.best_deal.img}}> <span
								class="pull-right bestPrice text-right">{{item.best_deal.price}}</span>
						</div>
						<a href={{item.best_deal.lnk}} target="_blank"
							class="bestDealBtn col-sm-12 text-center"><img
							src="images/seeitnow-but.png"></a>
						<div>
							<div ng-repeat="deal in item.deals" class="col-sm-12">
								<a href={{deal.lnk}} target="_blank" class="deal_name col-sm-6">{{deal.name}}</a>
								<span class="deal_price col-sm-6 pull-right text-right">{{deal.price}}</span>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>



		<div class=" note col-sm-12 row" ng-repeat="note in notes"
			ng-class='{editorPickNote:note.editorPick, bestValueNote:note.bestValue}'
			ng-init="idCarousel = 'carousel'+$index">
			<div class="header col-sm-12"></div>
			<div class="col-sm-6 noteContent">
				<div class="noteTitle col-sm-12">
					<span class="title">{{note.title}} | </span><span class="subtitle">{{note.subtitle}}</span>

					<div class="stars pull-right">
						<div class="star fullStar "
							ng-repeat="star in note.fullstars track by $index"></div>
						<div class="star halfStar "
							ng-repeat="star in note.halfstars track by $index"></div>
						<div class="star emptyStar "
							ng-repeat="star in note.emptystars track by $index"></div>
					</div>
				</div>
				<div class="bodyNote col-sm-12">{{note.noteBody}}</div>
				<div class="review">
					<div class="col-sm-6 ">
						<div class="title">
							<i class="material-icons pull-left">add_circle</i>For
						</div>
						<ul>
							<li ng-repeat="good in note.the_good | limitTo: 2"><span>{{good}}</span></li>
						</ul>
					</div>
					<div class="col-sm-6 ">
						<div class="title">
							<i class="material-icons pull-left">remove_circle</i>Against
						</div>
						<ul>
							<li ng-repeat="bad in note.the_bad | limitTo: 2"><span>{{bad}}</span></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="gallery col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-xs-12" id="slider">
							<!-- Top part of the slider -->
							<div class="row">
								<div class="col-sm-12" id="carousel-bounding-box">
									<div class="carousel slide carousel-fade" id="{{idCarousel}}">
										<!-- Carousel items -->
										<div class="carousel-inner" ng-init="resizeMe()">
											<div class="item" ng-class='{active:$first}'
												ng-repeat="pic in note.pictures" data-slide-number="$index">
												<img src={{pic}} class="img-responsive">
											</div>

										</div>
										<!-- Carousel nav -->
										<a class="left carousel-control" href="{{'#'+idCarousel}}"
											role="button" data-slide="prev"> </a> <a
											class="right carousel-control" href="{{'#'+idCarousel}}"
											role="button" data-slide="next"> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12" id="slider-thumbs">
						<!-- Bottom switcher of slider -->
						<ul class="hide-bullets">
							<li class="col-sm-3 thumbnailWrapper"
								ng-repeat="pic in note.pictures" my-repeat-directive><a
								class="thumbnail" id="{{'carousel-selector-' + $index}}"
								ng-init="picId = 'carousel-selector-' + $index"
								ng-click="showPic(picId,idCarousel)"> <img src={{pic}}>
							</a></li>

						</ul>
					</div>
				</div>


			</div>
			<div class="bestOffer col-sm-12">
				<img alt="" src="images/v.png" class="col-sm-1 vcenter">
				<div class="priceRow col-sm-5 vcenter">
					<div class="title"></div>
					<div class="logo">
						<img src={{note.best_deal.bigImg}} class="col-sm-6">
						<div class="price col-sm-6">{{note.best_deal.price}}</div>
					</div>

				</div>
				<div class="prodBtn col-sm-5 vcenter">
					<a href={{note.best_deal.lnk}} target="_blank"
						class="col-sm-12 text-center">View Product</a>
					<div></div>
				</div>
			</div>




		</div>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"
			integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script>
			
		</script>
</body>
</html>