<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="js/script.js"></script>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link href="css/T1_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<body ng-app="TenBestApp">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand " href="#">Best baby strollers <b>|
						2016</b></a>
			</div>
			<div class="navbar-header pull-right">
				<a class="navbar-brand " href="#"><img
					src="images/BR-LOGO-top.png"></img></a>
			</div>

		</div>
	</nav>
	<div class="container" ng-controller="template1Controller">
		<div class="col-sm-12 text-right">Last viewed: {{lastViewed |
			date:'dd-MM-yyyy'}}</div>
		<div class="row columnsContainer col-sm-12">
			<div class="">
				<div class="col-sm-1 descriptions">
					<div class="row0"></div>
					<div class="row1">Brand/ product</div>

					<div class="row2">Weight</div>

					<div class="row3">
						Size
						<p class="subtitle">(H/W/D/cm)</p>
					</div>

					<div class="row4">The Good</div>

					<div class="row5">The Bad</div>

					<div class="row6">Best deal</div>
				</div>
				<div ng-repeat="item in items" class="col-sm-2 columnWrapper"
					ng-class="{'bestValue':item.bestValue, 'editorPick':item.editorPick}">
					<div class="row0"></div>
					<div ng-click="sendTo(item.best_deal.lnk)">
						<div class="itemCell row1 text-center">
							<div class="title">{{item.title}}</div>
							<div class="subtitle">{{item.subtitle}}</div>
							<div class="col-sm-12">
								<img src={{item.img}}>
							</div>

							<a class="link" href={{item.best_deal.lnk}} target="_blank">See
								it now on {{item.best_deal.name}}</a>
						</div>

						<div class="itemCell row2 text-center">
							<p class="title">{{item.weight}}</p>
							<p class="subtitle">{{item.weight_unit}}</p>
						</div>

						<div class="itemCell row3 text-center">
							<p class="title">{{item.size}}</p>
							<p class="subtitle">{{item.size_unit}}</p>
						</div>

						<div class="itemCell row4">
							<ul>
								<li ng-repeat="good in item.the_good"><span>{{good}}</span></li>
							</ul>
						</div>

						<div class="itemCell row5">
							<ul>
								<li ng-repeat="bad in item.the_bad"><span>{{bad}}</span></li>
							</ul>
						</div>
					</div>
					<div class="itemCell row6">
						<img src={{item.best_deal.img}} class="col-sm-6"> <span
							class="col-sm-6 bestPrice text-right">{{item.best_deal.price}}</span>
						<a href={{item.best_deal.lnk}} target="_blank"
							class="bestDealBtn col-sm-12 text-center"><img
							src="images/seeitnow-but.png"></a>
						<div>
							<div ng-repeat="deal in item.deals" class="col-sm-12">
								<a href={{deal.lnk}} target="_blank" class="deal_name col-sm-6">{{deal.name}}</a>
								<span class="deal_price col-sm-6 pull-right text-right">{{deal.price}}</span>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="editorPickNote note col-sm-12 row">
			<div class="header col-sm-12">Best Value</div>
			<div class="note col-sm-6">
				<div class="noteTitle col-sm-6">
					<span class="title">{{bestValue.title}}</span>|<span
						class="subtitle">{{bestValue.subtitle}}</span>
				</div>


				<div class="stars col-sm-6"></div>
				<div class="bodyNote col-sm-12">{{bestValue.note}}</div>
				<div class="col-sm-6">
					<div>For</div>
					<ul>
						<li ng-repeat="good in bestValue.the_good"><span>{{good}}</span></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div>Against</div>
					<ul>
						<li ng-repeat="bad in bestValue.the_bad"><span>{{bad}}</span></li>
					</ul>
				</div>
				<div class="bestOffer">
					<div class="img"></div>
					<div class="priceRow">
						<div class="title">best value</div>
						<div class="logo">
							<img src="{{bestValue.img}}">
						</div>
						<div class="price">{{bestValue.price}}</div>
					</div>
					<div class="prodBtn"></div>
				</div>
			</div>
			<div class="gallery col-sm-6">
				<div class="row">

					<div class="col-sm-12">
						<div class="col-xs-12" id="slider">
							<!-- Top part of the slider -->
							<div class="row">
								<div class="col-sm-12" id="carousel-bounding-box">
									<div class="carousel slide carousel-fade" id="myCarousel">
										<!-- Carousel items -->
										<div class="carousel-inner">
											<div class="active item" data-slide-number="0">
												<img src="http://placehold.it/470x480&text=zero">
											</div>
											<div class="item" data-slide-number="1">
												<img src="http://placehold.it/470x480&text=1">
											</div>
											<div class="item" data-slide-number="2">
												<img src="http://placehold.it/470x480&text=2">
											</div>
											<div class="item" data-slide-number="3">
												<img src="http://placehold.it/470x480&text=3">
											</div>
										</div>
										<!-- Carousel nav -->
										<a class="left carousel-control" href="#myCarousel"
											role="button" data-slide="prev"> </a> <a
											class="right carousel-control" href="#myCarousel"
											role="button" data-slide="next"> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12" id="slider-thumbs">
						<!-- Bottom switcher of slider -->
						<ul class="hide-bullets">
							<li class="col-sm-3"><a class="thumbnail"
								id="carousel-selector-0"> <img
									src="http://placehold.it/150x150&text=zero">
							</a></li>

							<li class="col-sm-3"><a class="thumbnail"
								id="carousel-selector-1"><img
									src="http://placehold.it/150x150&text=1"></a></li>

							<li class="col-sm-3"><a class="thumbnail"
								id="carousel-selector-2"><img
									src="http://placehold.it/150x150&text=2"></a></li>

							<li class="col-sm-3"><a class="thumbnail"
								id="carousel-selector-3"><img
									src="http://placehold.it/150x150&text=3"></a></li>
						</ul>
					</div>
				</div>


			</div>
		</div>
		<div class="bestValueNote note col-sm-12">

			<div class="header col-sm-12">Best Value</div>
			<div class="note col-sm-6">
				<div class="noteTitle col-sm-6">
					<span class="title">{{bestValue.title}}</span>|<span
						class="subtitle">{{bestValue.subtitle}}</span>
				</div>


				<div class="stars col-sm-6"></div>
				<div class="bodyNote col-sm-12">{{bestValue.note}}</div>
				<div class="col-sm-6">
					<div>For</div>
					<ul>
						<li ng-repeat="good in bestValue.the_good"><span>{{good}}</span></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div>Against</div>
					<ul>
						<li ng-repeat="bad in bestValue.the_bad"><span>{{bad}}</span></li>
					</ul>
				</div>
				<div class="bestOffer">
					<div class="img"></div>
					<div class="priceRow">
						<div class="title">best value</div>
						<div class="logo">
							<img src="{{bestValue.img}}">
						</div>
						<div class="price">{{bestValue.price}}</div>
					</div>
					<div class="prodBtn"></div>
				</div>
			</div>
		</div>
		<div class="gallery col-sm-6">
			<div class="row">

				<div class="col-sm-12">
					<div class="col-xs-12" id="slider">
						<!-- Top part of the slider -->
						<div class="row">
							<div class="col-sm-12" id="carousel-bounding-box">
								<div class="carousel slide carousel-fade" id="myCarousel2">
									<!-- Carousel items -->
									<div class="carousel-inner">
										<div class="active item" data-slide-number="0">
											<img src="http://placehold.it/470x480&text=zero">
										</div>
										<div class="item" data-slide-number="1">
											<img src="http://placehold.it/470x480&text=1">
										</div>
										<div class="item" data-slide-number="2">
											<img src="http://placehold.it/470x480&text=2">
										</div>
										<div class="item" data-slide-number="3">
											<img src="http://placehold.it/470x480&text=3">
										</div>
									</div>
									<!-- Carousel nav -->
									<a class="left carousel-control" href="#myCarousel2"
										role="button" data-slide="prev"> </a> <a
										class="right carousel-control" href="#myCarousel2"
										role="button" data-slide="next"> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12" id="slider-thumbs">
					<!-- Bottom switcher of slider -->
					<ul class="hide-bullets">
						<li class="col-sm-3"><a class="thumbnail"
							id="carousel2-selector-0"> <img
								src="http://placehold.it/150x150&text=zero">
						</a></li>

						<li class="col-sm-3"><a class="thumbnail"
							id="carousel2-selector-1"><img
								src="http://placehold.it/150x150&text=1"></a></li>

						<li class="col-sm-3"><a class="thumbnail"
							id="carousel2-selector-2"><img
								src="http://placehold.it/150x150&text=2"></a></li>

						<li class="col-sm-3"><a class="thumbnail"
							id="carousel2-selector-3"><img
								src="http://placehold.it/150x150&text=3"></a></li>
					</ul>
				</div>
			</div>


		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"
		integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		$('#myCarousel').carousel({
			interval : false
		});

		//Handles the carousel thumbnails
		$('[id^=carousel-selector-]').click(function() {
			var id_selector = $(this).attr("id");
			try {
				var id = /-(\d+)$/.exec(id_selector)[1];
				console.log(id_selector, id);
				jQuery('#myCarousel').carousel(parseInt(id));
			} catch (e) {
				console.log('Regex failed!', e);
			}
		});

		$('#myCarousel2').carousel({
			interval : false
		});

		$('[id^=carousel2-selector-]').click(function() {
			var id_selector = $(this).attr("id");
			try {
				var id = /-(\d+)$/.exec(id_selector)[1];
				console.log(id_selector, id);
				jQuery('#myCarousel2').carousel(parseInt(id));
			} catch (e) {
				console.log('Regex failed!', e);
			}
		});
	</script>
</body>
</html>